`default_nettype none

module {{name}}
#(
	parameter DATA_WIDTH = 32,
	parameter ADDR_WIDTH = 32,
	parameter GRANULARITY = 8,
)
(
	input wb_clk_i,
	input wb_rst_i,
	input [DATA_WIDTH-1:0] wb_dat_i,
	output [DATA_WIDTH-1:0] wb_dat_o,
	output wb_ack_o,
	input [ADDR_WIDTH-1:0] wb_addr_i,
	input wb_cyc_i,
	output wb_stall_o,
	output wb_err_o,
	input wb_lock_i,
	output wb_rty_o,
	input [$clog2(DATA_WIDTH/GRANULARITY)-1:0] wb_sel_i,
	input wb_stb_i,
	input wb_we_i
);

always @(posedge clk_i or posedge rst_i) begin
	if (rst_i) begin
		
	end
	else begin
		
	end
end
endmodule
