# Fondue core file for {{ name }}

vlnv:
    {% if vendor %}
    vendor: {{ vendor }}
    {% endif %}
    name: {{ name }}
    {% if library %}
    library: {{ library }}
    {% endif %}
    {% if version %}
    version: {{ version }}
    {% endif %}
files:
    common:
        {{ name }}.v
    {% if sim_tool %}
    {% include sim_tool+'.ffc.j2' ignore missing with context %}
    {% endif %}

