# Fondue core file for {{ name }}

vlnv:
    {% if vendor %}
    vendor: {{ vendor }}
    {% endif %}
    name: {{ name }}
    {% if library %}
    library: {{ library }}
    {% endif %}
    {% if version %}
    version: {{ version }}
    {% endif %}
files:
	{% block files %}
    common:
		{% block common_files %}
        {{ name }}.v
		{% endblock common_files %}
    {% if sim_tool %}
    sim:
		{% block sim_tool_files %}
		{% endblock sim_tool_files %}
    {% endif %}
	{% endblock files %}
